.detail-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 25px;
  margin: 2% auto 2% auto;
  box-shadow: 3px 3px 5px black;
}

.detail-logo {
  display: block;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.name-container {
  display:flex;
  justify-content: center;
}

.info-container {
  background-color: white;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  box-shadow: 3px 3px 5px black;
}

h3 {
  padding: 2% 2% 2% 2%;
}

.back {
  cursor: pointer;
  margin: 3% 0 0 3%;
  border-radius: 25px;
  box-shadow: 3px 3px 5px black;
  background-color: #007bff;
  color: white;
}

.chart-container {
  margin: 0 3% 0 3%;
  background-color: white;
  border-radius: 25px 25px 0 0;
  box-shadow: 3px 3px 5px black;
  left: 0;
  right: 0;
  height: 100%;
}

.time-button-container {
  margin: 0 3% 3% 3%;
  display: flex;
  justify-content: space-between;
}