.currency-detail-container {
}

.detail-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 25px;
  margin: 2% auto 2% auto;
  box-shadow: 3px 3px 5px black;
}

.detail-logo {
  display: block;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.name-container {
  display:flex;
  justify-content: center;
}

.info-container {
  background-color: white;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  box-shadow: 3px 3px 5px black;
}

h3 {
  padding: 2% 2% 2% 2%;
}
